@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
  margin: 0;
}

.App {
  padding: 30px;
  margin: 3% auto;
  border: 2px solid #f7a440;
  border-radius: 20px;
  width: 60%;
}
