.form {
  text-align: center;
}

.form-input {
  font-family: 'Roboto';
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #f7a440;
  transition: font-size 0.2s ease;
  width: 30vw;
  color: #f58634;
}

.form-input:focus {
  font-size: 22px;
  outline: none;
  padding: 5px;
}

.form-btn {
  display: block;
  margin: 2vh auto;
  font-family: 'Roboto';
  border: 2px solid #f7a440;
  border-radius: 20px;
  background-color: white;
  font-size: 18px;
  color: #f58634;
  padding: 8px 30px;
  transition: all 0.2s ease;
}

.form-btn:hover {
  background-color: #f7a440;
  color: white;
  cursor: pointer;
}
